body{
    background-color: #e7c6f7;
    background-position: center;    
    background-repeat: no-repeat;
}
table{
    margin: auto;
    width: 600px;
    background-color: black;
    height: 40px;
    
}  
.nav{
    padding: 30px;
    margin: 0px;
    height: 40px;
    border-top: 8px solid;
}
.nav ul{
    list-style-type: none;   
    
}
.nav li{
    float: right;    
  
}
.nav a{
    background-color: white;
    color: black;
    border: 2px solid #010a03;
    padding: 10px 20px;    
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;  

}

.nav a:hover{
    background-color: #d49afa;}

.nav img  {
        height: 110px;
        float: left;
         
        
    }

#header img{
    width: 100%;
    height: 250px;
}

.imagens img{
    width: 100%;  
    
}
.banner img{
    height: 300px;
}
.article{
    width: 100%;
    height: 200px;
    
}
.article td{
    background-image: linear-gradient(to right, #04043d, #240027);
    height: 150px;
}
.article h1{
    color: #ffffff;
    font-size:x-large;    
    text-align: center;
    margin-inline: 20px;
    
}
.article a {
    color: #000000;
    background-color: #e7c6f7;
    padding: 2px;
    border-radius: 20px;
    text-decoration: none;
    
}
.article a:hover {
    background-color: aqua;  
    
}
.footer{
    width: 100%;
    height: 200px;
    
}

.footer td{
    color: white;
    text-align: center;
    

}



    
 
